html {
    height: 100%;
    box-sizing: border-box;
}

.header {
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: large;
    text-align: center;
}

.nav-item {
    float: right;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.page-header {
    color: #17A2B8;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
}

.row {
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

hr.solid {
    border-top: 3px solid #bbb;
}

body {
    background-image: url("https://images.unsplash.com/photo-1532153259564-a5f24f261f51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

main {
    background-color: white;
}

.box {
    position: relative;
   
}
.text-block {
    position: absolute;
    bottom: 20px;
    background-color: #17A2B8;
    color: white;
    text-align: center;
    width: 80%;
}

.container {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: "20px";
    padding-right: "40px";
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: small;
}